<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WinMan REST API
    <% if (typeof title !== 'undefined') { %>
        -
        <%= title %>
            <% } %>
</title>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
<link rel="icon" type="image/png" href="./favicon.ico" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
/>
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#efefef",
                    "text": "#404040"
                },
                "button": {
                    "background": "transparent",
                    "text": "#8ec760",
                    "border": "#8ec760"
                }
            },
            "position": "bottom-right",
            "content": {
                "message": "This website uses cookies to ensure you get the best experience. By continuing to use this website you consent to their use."
            }
        })
    });

</script>