node_modules/*
bin/*
.vscode/*
.idea/*
views/static/swagger/schema/*.json
*.log
views/static/**/local/*
views/static/js/account*
views/static/js/index*
views/static/js/login*
views/static/js/swagger*
views/**/*.ejs
views/static/css/winman.min.css