nav {
  @include rem(margin, 53px 0 0 0);
  @include rem(padding, 20px);
  background-color: $_colour-get;
  cursor: pointer;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  @include breakpoint('tablet') {
    margin: 0;
    padding: 0;
    pointer-events: auto;
    position: static;
    visibility: visible;
    width: auto;

    a {
      +a {
        &::before {
          @include rem(padding, 0 10px);
          content: ' | ';
        }
      }
    }
  }

  &::after {
    @include rem(font-size, 32px);
    @include rem(right, 20px);
    @include rem(top, -41px);
    content: '\e64c';
    font-family: metro;
    pointer-events: auto;
    position: absolute;
    visibility: visible;

    @include breakpoint('tablet') {
      display: none;
    }
  }

  &.nav-expanded {
    visibility: visible;

    &::after {
      @include rem(font-size, 48px);
      @include rem(top, -53px);
      content: '\00d7';
    }

    a {
      @include rem(line-height, 40px);
      display: block;
      pointer-events: auto;

      @include breakpoint('tablet') {
        display: inline;
        line-height: normal;
      }
    }
  }
}

.topbar {
  @include rem(padding, 8px 0);
  background-color: $_colour-get;

  .topbar-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a {
    @include rem(font-size, 16px);
    @include rem(max-width, 300px);
    @include text_body($colour-white);
    text-decoration: none;
  }
}
