{
    "/customers": {
        "get": {
            "tags": [
                "Customers"
            ],
            "summary": "Fetch a customer or customers from WinMan",
            "operationId": "getCustomers",
            "description": "Fetch only web-enabled customers which have been modified within the specified number of seconds. If no time is specified, all web-enabled customers will be returned regardless of when they were last modified. If a customer ID is specified, only a single customer with the supplied ID will be fetched.",
            "produces": [
                "application/json",
                "application/xml"
            ],
            "parameters": [
                {
                    "in": "query",
                    "name": "guid",
                    "description": "Fetch a single web-enabled customer with the supplied GUID.",
                    "required": false,
                    "type": "string",
                    "maxLength": 36
                },
                {
                    "in": "query",
                    "name": "website",
                    "description": "Fetch only customers which are attached to the supplied website.",
                    "required": false,
                    "type": "string",
                    "maxLength": 100
                },
                {
                    "in": "query",
                    "name": "modified",
                    "description": "Fetch web-enabled customers modified within the specified number of seconds, up to a maximum of 31536000 seconds (365 days).",
                    "required": false,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31536000
                }
            ],
            "responses": {
                "200": {
                    "description": "Query executed successfully.",
                    "schema": {
                        "type": "array",
                        "items": {
                            "$ref": "#/definitions/Customer"
                        },
                        "xml": {
                            "name": "Customers",
                            "wrapped": true
                        }
                    }
                },
                "400": {
                    "description": "Bad input parameter."
                },
                "401": {
                    "description": "Unauthorised. Access token may be invalid, expired or not supplied in the request."
                }                 
            }
        },
        "put": {
            "tags": [
                "Customers"
            ],
            "summary": "TODO = Update customers in WinMan",
            "operationId": "putCustomers",
            "description": "Update customer information in WinMan",
            "consumes": [
                "application/json",
                "application/xml"
            ],
            "parameters": [
                {
                    "in": "body",
                    "name": "data",
                    "description": "TODO",
                    "schema": {
                        "$ref": "#/definitions/Customer"
                    }
                }
            ],
            "responses": {
                "200": {
                    "description": "Query executed successfully."
                },
                "400": {
                    "description": "Bad input parameter."
                },
                "401": {
                    "description": "Unauthorised. Access token may be invalid, expired or not supplied in the request."
                },                
                "406": {
                    "description": "Unacceptable content type."
                }
            }
        },
        "post": {
            "tags": [
                "Customers"
            ],
            "summary": "TODO = Create a new customer in WinMan",
            "operationId": "postCustomers",
            "description": "Create a new customer in WinMan",
            "consumes": [
                "application/json",
                "application/xml"
            ],
            "parameters": [
                {
                    "in": "body",
                    "name": "data",
                    "description": "TODO",
                    "schema": {
                        "$ref": "#/definitions/Customer"
                    }
                }
            ],
            "responses": {
                "200": {
                    "description": "Query executed successfully."
                },
                "400": {
                    "description": "Bad input parameter."
                },
                "401": {
                    "description": "Unauthorised. Access token may be invalid, expired or not supplied in the request."
                },                
                "406": {
                    "description": "Unacceptable content type."
                }
            }
        }
    }
}