/** 
 * Enable strict mode. See:
 * https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode
 * for more information.
 */
 'use strict';

const router    = require('express').Router();
const passport  = require('passport');
const utils = require('../utils');

/* Fetch data */
router.get('/', passport.authenticate('bearer', { session: false }), function (req, res, next) {
    const scopes = req.authInfo.scope.split(',');

    if (scopes.indexOf('read') === -1) {
        res.status(401);
        res.send(utils.reasons.inadequateAccess);
        return;
    }

    res.status(501);
    res.send('Not yet implemented.');
});

/* Update data */
router.put('/', passport.authenticate('bearer', { session: false }), function (req, res, next) {
    const scopes = req.authInfo.scope.split(',');

    if (scopes.indexOf('write') === -1) {
        res.status(401);
        res.send(utils.reasons.inadequateAccess);
        return;
    }

    res.status(501);
    res.send('Not yet implemented.');
});

/* Create data */
router.post('/', passport.authenticate('bearer', { session: false }), function (req, res, next) {
    const scopes = req.authInfo.scope.split(',');

    if (scopes.indexOf('write') === -1) {
        res.status(401);
        res.send(utils.reasons.inadequateAccess);
        return;
    }

    res.status(501);
    res.send('Not yet implemented.');
});
