<button class="close-section expand-operation" title="Close section">
    <svg class="arrow" width="20" height="20">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#large-arrow-down">
        </use>
    </svg>
</button>
<button class="open-section expand-operation" title="Open section">
    <svg class="arrow" width="20" height="20">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#large-arrow">
        </use>
    </svg>
</button>