<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= apiName %>
            <% if (typeof title !== 'undefined') { %>
                &nbsp;-&nbsp;
                <%= title %>
                    <% } %>
    </title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="./favicon.ico" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        /**
         * Initialise the Cookie Consent pop-up. Only shows if the user has not dismissed it.
         */
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#efefef",
                        "text": "#404040"
                    },
                    "button": {
                        "background": "transparent",
                        "text": "#8ec760",
                        "border": "#8ec760"
                    }
                },
                "position": "bottom-right",
                "content": {
                    "message": "This website uses cookies to ensure you get the best experience. By continuing to use this website you consent to their use."
                }
            })
        });
    </script>
    <script src="./js/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/winman.min.css">
</head>