<div class="topbar">
    <div class="wrapper">
        <div class="topbar-wrapper">
            <a href="/" title="WinMan" class="link">
                <img class="logo" src="./img/WinMan.png" alt="WinMan">
            </a>
            <nav>
                <a href="/account">My Account</a>
                <a href="/logout">Log out</a>
            </nav>
        </div>
    </div>
</div>